
<%= render 'layouts/nav_bar' %>

<div id='home'>
  <h1 id='main_logo'>BillGasm</h1>

  <h3>Maximize sensation while fondling your bills.</h3>
  <h3>Let BillGasm help prepare your money shots.</h3>

  

</div>