
<%= render 'layouts/nav_bar' %>

<h1>Billgasm</h1>

<h3>Preparation for your money shots.</h3>

<h3>Stimulating the most pleasure while organizing your bills.</h3>

<h3>Fondle your bills online with us.</h3>

<h3>Climax into our digital sock.</h3>