<%= render 'bills_navbar' %>

<h1>Bills:</h1>
<h1 class='sub-title'>By Date Due</h1>


<div class='show'>
  <% @user.bills.all.order(:due_at).each do |bill| %>
    
    <h4 class='line_item'><%= bill.due_at.strftime("%-m/%-d/%Y") %></h4>
    <h3 class='line_item'> <%= link_to bill.title, user_bill_path(@user, bill)  %></h3>
    <div class='paid_unpaid'>
      <% if bill.paid %>
        <p id='paid'>Paid!</p>
      <% else %>
        <p id='unpaid'>Unpaid</p>
      <% end %>
    </div>
    <br>
  <% end %>

</div>