
<%= render 'bills_navbar' %>

<h1>Your Bills</h1>

<div class='show'>
  <% @user.bills.each do |bill| %>
    
    <h3 id='bill_name'> <%= link_to bill.title, user_bill_path(@user, bill)  %></h3>
    <div class='paid_unpaid'>
      <% if bill.paid %>
        <p id='paid'>Paid!</p>
      <% else %>
        <p id='unpaid'>Unpaid</p>
      <% end %>
    </div>
    <br>
  <% end %>

</div>