/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

///// Body /////

body {
  font-family: Helvetica, serif, sans-serif;
  margin-top: 100px;
}


///// Link styling /////

a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

//// Page Nav Bar /////

.nav-bar {
  height: 45px;
  position: fixed;
  border-bottom: 2px solid black;
  background-color: #FFFF66;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  .left_nav {
    display: inline-block;
    height: 30px;
    width: 20%;
  }
  .right_nav {
    display: inline-block;
    width: 75%;
    text-align: right;
    .nav-links {
      font-size: large;
      font-weight: bold;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 73px;
        text-align: center;
      }
    }
  }
}

.icon {
  font-family: 'Pacifico', cursive;
  font-size: x-large;
  margin: 0;
  margin-left: 5%;
}

//// Home Page /////

#home {
  height: 75%;
  text-align: center;
  margin-top: 15%;
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    text-decoration: underline;
  }
  #main_logo {
    width: 100%
  }
}













