/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

///// Body /////


html, body {
  height: 100%;
}

body {
  font-family: Helvetica, serif, sans-serif;
  background-image: url('moneyrain.jpg');
  background-attachment: fixed;
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}



///// Link styling /////

a:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

//// Page Nav Bar /////

.nav-bar {
  height: 45px;
  position: fixed;
  border-bottom: 5px solid black;
  background-color: #FFFF66;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  .left_nav {
    display: inline-block;
    height: 30px;
    width: 20%;
  }
  .right_nav {
    display: inline-block;
    width: 75%;
    text-align: right;
    .nav-links {
      font-size: large;
      font-weight: bold;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 73px;
        text-align: center;
      }
    }
  }
}

.icon {
  font-family: 'Pacifico', cursive;
  font-size: x-large;
  margin: 0;
  margin-left: 5%;
}

//// Home Page /////

#home {
  text-align: center;
  margin-top: 20%;
  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    text-decoration: underline;
  }
  #main_logo {
    width: 100%
  }
}

//// Footer ////

footer {
  width: 100%;
  height: 45px;
  background-color: #E6E6E6;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid black;
  h4 {
    vertical-align: top;
    margin-bottom: 0px;
    margin-top: 3px;
  }
  .foot-left {
    display: inline-block;
    width: 55%;
    margin-left: 10px;
    color: #666;

  }
  .foot-right {
    float: right;
    min-width: 140px;
    width: 10%;
    text-align: left;
    margin-right: 10px;
    text-align: right;

  }
}

.wrapper {
  min-height: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}













