// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////// Bill form ////////

.bill_form {
  border-top: 11px solid black;
  border-bottom: 11px solid black;

  text-align: center;
  padding: 20px;
  border-radius: 40%;
  width: 60%;
  margin-left: 15%;
  margin-top: 100px;
}

//// Buttons /////

.button {
  min-width: 50px;
  display: inline-block;
  input {
    background-color: #FFCCCC;
    min-height: 30px;
    min-width: 70px;
    border-radius: 5px;
  }
}

//// Show and index styling /////

.show {
  border-top: 11px solid black;
  border-bottom: 11px solid black;
  border-radius: 10%;
  text-align: center;
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  padding-bottom: 25px;
}

//// Index page ////

#bill_name {
  display: inline-block;
}

.paid_unpaid {
  display: inline-block;
}

#paid {
  color: green;
}

#unpaid {
  color: red;
}